
nav {
    background-color: #ef5350;
    border: 1px solid black;
    padding: 15px;
    width: 100vw;
}

.logoLink {
    margin: 0 auto;
    padding: 5px;
    position: absolute;
    transition: all .3s ease-in-out;

}

.logoLink:hover {
    transform: scale(1.3);

}

.navLink {
    margin-right: 30px;
    text-decoration: none;
    color: rgb(246, 233, 46);
    transition: all .3s ease-in-out;
    font-size: 18px;
    text-shadow: 2px 2px 1px black;

}

.navLink:hover {
    color: rgb(69, 238, 224);
    transform: scale(1.2);
}

.navLinks {
    list-style: none;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

.pika {
    width: 32px;
    height: 32px;
}